@model MvcGraduate.Models.Students

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation_centre">
    <div class="navigation_centre_left">
        <div>查看班委</div>
        <div>任课老师</div>
        <div>课程资料</div>
        <div>我的同学</div>
    </div>
    <div class="navigation_centre_right">2</div>
</div>
