@model MvcGraduate.Models.Students

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation_centre">
    <div class="navigation_centre_left">
        <ul>
            <li><a href="#">查看班委</a></li>
            <li><a href="#">任课老师</a></li>
            <li><a href="#">课程资料</a></li>
            <li><a href="#">我的同学</a></li>
        </ul>
    </div>
    <div class="navigation_centre_right">2</div>
</div>
