@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation_centre">
    <div class="navigation_centre_left">
        <ul>
            <li><a href="#">照片管理</a></li>
            <li><a href="#">分享照片</a></li>
            <li><a href="#">文章管理</a></li>
            <li><a href="#">分享文章</a></li>
            <li><a href="#">我的提问</a></li>
        </ul>
    </div>
    <div class="navigation_centre_right">2</div>
</div>