@model MvcGraduate.Models.Students

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation_centre">
    <div class="navigation_centre_left">
        <div>家庭作业</div>
        <div>我的课程</div>
        <div>我的请假</div>
        <div>实践活动</div>
        <div>成绩查询</div>
        <div>学分查询</div>
        <div>奖惩信息</div>
    </div>
    <div class="navigation_centre_right">2</div>
</div>
