@model MvcGraduate.Models.Notify

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation_centre">
    <div class="navigation_centre_left">
        <ul>
            <li><a href="#">活动通知</a></li>
            <li><a href="#">学校新闻</a></li>
            <li><a href="#">考试通知</a></li>
            <li><a href="#">投票调查</a></li>
            <li><a href="#">事务信息</a></li>
            <li><a href="#">电子校历</a></li>
        </ul>
    </div>
    <div class="navigation_centre_right">2</div>
</div>